
#container{
  margin: 0px auto;
  padding: 25px;
  width: 900px;
  height: 1200px;
  background-color: aquamarine;
}

h1 { 
  text-align: center;
}

#job {
  margin: 0px auto;
  display: none;
  width: 150px;
  height: 100px;
  padding: 20px;
  text-align: center;
  background-color: lightblue;
  border: 2px black;
  border-radius: 4px;
}

#job input{
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  border: black solid 2px;
}

/* form {
  margin: 5px;
  width: 200px;
  height: 125px;
  border: 2px black;
  border-radius: 3px;
  background-color: dimgray;
} */
